body {
    background-color: #FCFCFC;
    padding-top: 54px;
    font-family: 'Helvetica Neue';
}





@media (min-width: 1281px) {
    .page-wrapper {
        position: relative;
        overflow: hidden;
        padding: 0px 200px;
      }
    
  }
  

  @media (min-width: 1025px) and (max-width: 1280px) {
    
    .page-wrapper {
        position: relative;
        overflow: hidden;
        padding: 0px 200px;
      }
    
  }

.header-padding {
    padding: 20px 45px 0px;
}

.dvrse-y {
    color: #FFD040;
}
.dvrse-button-y {
    background-color: #FFCC33;
}
.dvrse-bold {
   font-weight: bolder;
}



/* HOME SECTION */

.home-section-1 {
    /* margin: 200px auto; */
    height: 70vh;
}

@media (max-width: 575.98px)  { 
    .home-section-1 {
        margin: 50px auto;
        height: auto;
   
    }

    h1.text-center.dvrse-bold {
        font-size: 2.1rem
    }
 }

 
 @media (max-width: 767.98px) { 

    .home-section-1 {
        margin: 50px auto;
        height: auto;
  
    }
    h1.text-center.dvrse-bold {
        font-size: 2.1em
    }
  }


  

/* NAV BAR */

@media (max-width: 575.98px)  { 
    .navbar-brand {
        margin: 0px !important;

    }
 }

 
 @media (max-width: 767.98px) { 

    .navbar-brand {
        margin: 0px !important;
    }
  }


/* HOME PAGE SECTION */




/* ABOUT SECTION */

.about-section{
    margin: 50px 0px;
}


/* Branding Section */

/* .services-branding, .services-digital, .services-marketing {
    margin-top: 100px;
    margin-bottom: 200px;
} */


/* footer */

.site-footer {
    background-color: #F2F2F2;
    font-size: 0.8rem;
    height: auto;
  
}
.copy-right {
    color: slategrey;
    padding: 15px 0;
    position: absolute;
}

@media (max-width: 575.98px)  { 
    .copy-right {
        color: slategrey;
        padding: 0px 20px !important;
  
    }
    
 }

 
 @media (max-width: 767.98px) { 

    .copy-right {
        color: slategrey;
        padding: 0px 20px !important;
       
    }
    
  }




/* PORTFOLIO SECTION */
.portfolio-item {
    margin-bottom: 30px;
  }
  


  @media (min-width: 1025px) and (max-width: 1280px) {
    
    .white-floating {
        top: 0;
        right: 0; 
        position: absolute !important; 
        width:456px; 
        height:auto;
    }

    .services-branding, .services-digital, .services-marketing {
        margin-top: 100px;
        margin-bottom: 200px;
    }

   

  }

  @media (min-width: 1281px) {

  
  
    .white-floating {
        top: 0;
        right: 0; 
        position: absolute !important; 
        width:456px; 
        height:auto; 
    }

    .services-branding, .services-digital, .services-marketing {
        margin-top: 100px;
        margin-bottom: 200px;
    }
    
    
  }





/* @media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... } */
