body {
    background-color: #FCFCFC;
    padding-top: 54px;
    font-family: 'Helvetica Neue';
}

.page-wrapper {
    position: relative;
    overflow: hidden;
  }

.header-padding {
    padding: 20px 45px 0px;
}


/* HOME PAGE SECTION */


.home-section-1 {
    margin: 200px 0px;
}
.dvrse-y {
    color: #FFD040;
}
.dvrse-bold {
   font-weight: bolder;
}
/* footer */

.site-footer {
    background-color: #F2F2F2;
  
}
.copy-right {
    color: slategrey;
    padding: 15px 0;
    position: absolute;
}